<!DOCTYPE html>
<html lang="en">
  <head>
    <title>signup page</title>
    <%- include("./partials/head") %>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <div class="container mt-4">
      <form action="/user/signup" method="post">
        <div class="mb-3">
          <label for="firstName" class="form-label">Full Name</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            aria-describedby="firstName"
            name="firstName"
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            aria-describedby="email"
            name="email"
          />
          <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
          />
        </div>
        <div class="mb-3">
          <h2>Select Location</h2>

          <!-- Country Dropdown -->
          <label for="country">Country:</label>
          <select id="country" name="country" onchange="this.form.submit()">
              <option value="">Select Country</option>
              <% countries.forEach(country => { %>
                  <option value="<%= country._id %>" <%= selectedCountry === country._id ? 'selected' : '' %>><%= country.name %></option>
              <% }) %>
          </select>

          <!-- State Dropdown -->
          <% if (selectedCountry) { %>
              <label for="state">State:</label>
              <select id="state" name="state" onchange="this.form.submit()">
                  <option value="">Select State</option>
                  <% states.forEach(state => { %>
                      <option value="<%= state._id %>" <%= selectedState === state._id ? 'selected' : '' %>><%= state.name %></option>
                  <% }) %>
              </select>
          <% } %>

          <!-- City Dropdown -->
          <% if (selectedState) { %>
              <label for="city">City:</label>
              <select id="city" name="city">
                  <option value="">Select City</option>
                  <% cities.forEach(city => { %>
                      <option value="<%= city._id %>"><%= city.name %></option>
                  <% }) %>
              </select>
          <% } %>

      </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <%- include('./partials/scripts') %>
  </body>
</html>
